.background {
  width: 500px;
  height: 225px;
  left: 10%;
  position: relative;
  opacity: 0.65;
}

.pic {
  position: relative;
  width: 110px;
  left: 0px;
}

.title {
  position: absolute;
  left: 10px;
  top: -22px;
}

.overview {
  position: absolute;
  font-weight: bold;
  width: 300px;
  left: 150px;
  top: 50px;
  height: 125px;
  overflow: hidden;
}

.release {
  position: absolute;
  left: 280px;
  top: 20px;
}
