.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.desc {
  z-index: 2;
  opacity: 2;
}

.main-page-text {
  border: 1px solid black;
  width: 100px;
  padding: 10px;
  font-weight: bold;
}

.header {
  /* background: tomato; */
  height: 100px;
  font-size: 2em;
}

.footer {
  /* background: lightgreen; */
  height: 100px;
  color: red;
}

.main {
  text-align: left;
  /* background: deepskyblue;  */
  justify-content: center;
}

.background {
  position: absolute;
  opacity: 0.5;
  width: 600px;
}

.popmovie-list {
  transition: all 0.2s ease-in-out;
}

.popmovie-list:hover {
  transform: scale(1.2);
}

.aside-1 {
  height: 300px;
  width: 300px;
}

.info {
  float: left;
  color: green;
}

@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }
}

@media all and (min-width: 800px) {
  .main {
    flex: 3 0px;
  }
  .aside-1 {
    order: 1;
  }
  .main {
    order: 2;
  }
  .footer {
    order: 3;
  }
}

body {
  padding: 2em;
  color: white;
}

.tags {
  margin: 10px;
}

html,
body {
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1em;
}

#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}
